@charset "utf-8";


#visit div {zoom:1}
#visit div:after {display:block;visibility:hidden;clear:both;content:""}
#visit h2 {float:left;margin-top: 10px;}
#visit dl {float:left;margin:0 0 0 5px;padding:0}
#visit dt {float:left;margin:0;padding:10px 5px;letter-spacing:-0.1em}
#visit dd {float:left;margin:0 3px 0 0;padding:10px 5px}
#visit a {display:inline-block;padding:0px 15px;text-decoration:none}