@charset "utf-8";

/* 최근게시물 스킨 (latest) */

.lt{position:relative;float:left;width:49.5%;margin-bottom:10px;background:#fff}
.lt:nth-of-type(odd){margin-right:1%}

/*783px*/
@media screen and (max-width: 48.938em){
    .lt{width:100%}
}

.lt ul {margin:0;padding:0;list-style:none;border: 1px solid #e3e3e3;border-top:0}
.lt li{border-top:1px solid #f1f1f1}
.lt li:hover{background:#F9F9F9}
.lt li a {display:inline-block;padding:5px 10px;color:#000;text-decoration:none}
.lt li:first-child{border-top:0;}
.lt li .lt_date{float:right;margin-right:10px;line-height:30px;color:#c1c1c1}
.lt .lt_title {display:block;padding:10px;background:#6dcc8b;border:1px solid #d2d2d2;border-radius:3px 3px 0 0; font-size: 13px;}
.lt .lt_title:hover{color:#4ba567;text-decoration:none}
.lt .lt_more {position:absolute;top:10px;right:10px;border:none}
.lt .lt_more i{color:#c1c1c1}
.lt .cnt_cmt {display:inline-block;margin: 0 0 0 5px;font-weight: bold;background:#6dcc8b;border-radius: 3px;padding:4px 5px;font-size: 12px;line-height: 10px;color: #fff;min-width:10px;text-align:center}
.lt .empty_list{text-align:center}


/*400px*/
@media screen and (max-width:400px){
    .lt li{position:relative}
    .lt li a {display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
    .lt li img{display:none}
    .lt .cnt_cmt{position:absolute;right:10px}
    .lt li .lt_date{display:none}
}
