@charset "utf-8";
/* 최근게시물 스킨 - 갤러리 (latest) */

.lt_gal{position:relative;margin:0 0 10px;background:#fff;}
.lt_gal h2{display:block;padding:12.5px 10px;font-weight:bold;background:#e8e8e8;border:1px solid #d2d2d2;border-radius:3px 3px 0 0}
.lt_gal h2 a:hover{color:#4ba567;text-decoration:none}
.lt_gal ul{margin:0;padding:10px;list-style:none;border:1px solid #e3e3e3;border-top:0;min-height:100%}
.lt_gal ul:after {display:block;visibility:hidden;clear:both;content:""}
.lt_gal li{float:left;display:inline-block;width:25%;margin:5px 0;padding:0 10px;}
.lt_gal li a {display:block;padding:5px 0;color:#333;text-decoration:none;font-weight:bold}
.lt_gal li .lt_date{color:#c1c1c1;font-size:12px;line-height:20px;float:right}
.lt_gal li .lt_nick{display:inline-block;float:left;margin-right:5px;line-height:20px;}
.lt_gal li .lt_nick a{padding:0;color:#929292;font-size:12px;}
.lt_gal li .cnt_cmt {display:inline-block;margin:0 0 0 5px;font-weight:bold;background:#6dcc8b;border-radius: 3px;padding:4px 5px;font-size: 12px;line-height: 10px;color: #fff;min-width:10px;text-align:center}
.lt_gal li .lt_nick i{color:#c1c1c1;}

.lt_gal .lt_image{display:block;text-align:center;}
.lt_gal .lt_image img{width:100%;height:auto}
.lt_gal .lt_image span{display:block;height:100%;background:#eee;}
.lt_gal .lt_more {position:absolute;top:10px;right:10px;}
.lt_gal .lt_more i{color:#c1c1c1}
.lt_gal .empty_list{text-align:center;width:100%;}


/*710px*/
@media screen and (max-width: 44.375em){
    .lt_gal li{width:50%;}
}

/*340px*/
@media screen and (max-width: 21.250em){
    .lt_gal li{width:100%;}   

}